icondef XML icondef.xml

yahoo_alien     GIF yahoo_alien.gif
yahoo_angel     GIF yahoo_angel.gif
yahoo_breath    GIF yahoo_breath.gif
yahoo_clown     GIF yahoo_clown.gif
yahoo_cool      GIF yahoo_cool.gif
yahoo_cow       GIF yahoo_cow.gif
yahoo_devil     GIF yahoo_devil.gif
yahoo_dweeb     GIF yahoo_dweeb.gif
yahoo_embarassed GIF yahoo_embarassed.gif
yahoo_frown     GIF yahoo_frown.gif
yahoo_gray      GIF yahoo_gray.gif
yahoo_grin      GIF yahoo_grin.gif
yahoo_loud      GIF yahoo_loud.gif
yahoo_love      GIF yahoo_love.gif
yahoo_mean      GIF yahoo_mean.gif
yahoo_question  GIF yahoo_question.gif
yahoo_rose      GIF yahoo_rose.gif
yahoo_shocked   GIF yahoo_shocked.gif
yahoo_sleep     GIF yahoo_sleep.gif
yahoo_smile     GIF yahoo_smile.gif
yahoo_smirk     GIF yahoo_smirk.gif
yahoo_stop      GIF yahoo_stop.gif
yahoo_straight  GIF yahoo_straight.gif
yahoo_tantrum   GIF yahoo_tantrum.gif
yahoo_tex       GIF yahoo_tex.gif
yahoo_tongue    GIF yahoo_tongue.gif
