/*
 * The comments in this CSS are replaced programmatically with the
 * values specified in the prefs.
 */


body {
    font-family: /*font_name*/,Arial Unicode MS, Verdana;
    font-size: /*font_size*/;
    font-weight: /*font_weight*/;
    font-style: /*font_style*/;
    text-decoration: /*text_decoration*/;
    background: /*color_bg*/;
    margin: 0pt;
    word-wrap: break-word;
}

.date {
    width: 100%;
    text-align: center;
    background: /*color_date_bg*/;
    font-weight: bold;
    color: /*color_date*/;
}

.composing {
    width: 100%;
    text-align: center;
	color: /*color_composing*/;
}

.ts {
    color: /*color_time*/;
    white-space: nowrap;
    padding-right: 3;
    /*font-size: smaller;*/
}

.me {
    color: /*color_me*/;
    white-space: nowrap;
    padding-right: 3;
    font-weight: bold;
    display: block;
    /*font-size: larger;*/
	margin-left: 3;
}

.other {
    color: /*color_other*/;
    white-space: nowrap;
    padding-right: 3;
    font-weight: bold;
    display: block;
    /*font-size: larger;*/
	margin-left: 3;
}

.line1 {
   padding-top: 3;
   background: /*color_bg*/;
}

.line2 {
   padding-top: 3;
   background: /*color_alt_bg*/;
}

.msg {
    color: /*font_color*/;
}

.msgts {
    margin-left: 25;
}

.priorityimg {
    position: absolute;
    left: 5;
}

.svr {
	color:/*color_server*/;
	margin-left: 3;
}

.alert {
	color:/*color_alert*/;
}
.error {
	color:/*color_error*/;
}

.action {
	color:/*color_action*/;
}

.pres {
	color:/*color_presence*/;
}

#content {
  height: 100%;
}

/*#splash {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-family:Arial Unicode MS;
    font-size: 24pt;
    font-weight: bold;
    color: #ddd;
} */
