icondef XML icondef.xml

msn_angel       GIF msn_angel.gif
msn_angry       GIF msn_angry.gif
msn_asl         GIF msn_asl.gif
msn_bat         GIF msn_bat.gif
msn_beer        GIF msn_beer.gif
msn_blush       GIF msn_blush.gif
msn_boy         GIF msn_boy.gif
msn_breath      GIF msn_breath.gif
msn_broken      GIF msn_broken.gif
msn_cake        GIF msn_cake.gif
msn_camera      GIF msn_camera.gif
msn_cat         GIF msn_cat.gif
msn_clock       GIF msn_clock.gif
msn_coffee      GIF msn_coffee.gif
msn_cuffs       GIF msn_cuffs.gif
msn_devil       GIF msn_devil.gif
msn_dog         GIF msn_dog.gif
msn_film        GIF msn_film.gif
msn_frown       GIF msn_frown.gif
msn_girl        GIF msn_girl.gif
msn_glasses     GIF msn_glasses.gif
msn_graph       GIF msn_graph.gif
msn_grin        GIF msn_grin.gif
msn_heart       GIF msn_heart.gif
msn_hug_left    GIF msn_hug_left.gif
msn_hug_right   GIF msn_hug_right.gif
msn_kiss        GIF msn_kiss.gif
msn_kissme      GIF msn_kissme.gif
msn_lightbulb   GIF msn_lightbulb.gif
msn_mail        GIF msn_mail.gif
msn_martini     GIF msn_martini.gif
msn_moon        GIF msn_moon.gif
msn_note        GIF msn_note.gif
msn_package     GIF msn_package.gif
msn_phone       GIF msn_phone.gif
msn_rainbow     GIF msn_rainbow.gif
msn_rose        GIF msn_rose.gif
msn_shocked     GIF msn_shocked.gif
msn_smile       GIF msn_smile.gif
msn_straight    GIF msn_straight.gif
msn_tantrum     GIF msn_tantrum.gif
msn_thumb_down  GIF msn_thumb_down.gif
msn_thumb_up    GIF msn_thumb_up.gif
msn_tilde       GIF msn_tilde.gif
msn_tongue      GIF msn_tongue.gif
msn_wilted      GIF msn_wilted.gif
msn_wink        GIF msn_wink.gif
moo             GIF moo.gif
